<table>
  <tr>
    <th>title</th>
    <th>content</th>
    <th>edit</th>
    <th>delete</th>
  </tr>
  <% @blogs.each do |blog| %>
    <tr>
      <td><%= blog.title %></td>
      <td><%= blog.content %></td>
      <td><%= link_to "edit",edit_blog_path(blog.id) %></td>
      <td><%= link_to 'delet', blog_path(blog.id),method: :delete %></td>
    </tr>
  <% end %>
</table>
<%= link_to "new blog",new_blog_path%>